<!DOCTYPE html>
<!--exposer.html-->
<html>
  <head>
    <title>Exposer</title>
    <!--
    <script src="scripts/exposer.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    -->
  </head>
  <body>
    <div id='main' class="fullscreenDiv" id="test">
      <div class="fullscreenDiv">
        <img class="resizeFull" [src]="imagePath" alt="Image" id="displayImage"> 
        

        <!-- <img class="resizeFull" src="../dist/assets/outputImages/lithoTestPattern1.svg" alt="Image" id="displayImage"> -->
      </div>
    </div>
  </body>

  <app-parser></app-parser>
</html>

